<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.travel.dao.ProductPriceMapper">
    <!-- all_columns应该是全部列 -->
    <sql id="all_columns">
        `id`,
        `product_code`,
        `price`,
        `price_cr`,
        `price_et`,
        `day_date`,
        `update_date`,
        `create_date`
    </sql>
    <!-- insert_columns应该是全部没有默认值的列 -->
    <sql id="insert_columns">
        `id`,
        `product_code`,
        `price`,
        `price_cr`,
        `price_et`,
        `day_date`,
        `update_date`,
        `create_date`
    </sql>
<!--    <select id="getPriceInfoByDay" resultType="com.example.travel.product.entity.ProductPriceDO">-->
<!--        select price,price_cr from product_price where product_code=#{productCode} and day_date = #{day}-->
<!--    </select>-->
    <!-- 基本的DAO操作结束 -->

    <!--    <sql id="area_select">-->
    <!--        select-->
    <!--        <include refid="all_columns"/>-->
    <!--        from part_price_${area} ${ew.customSqlSegment}-->
    <!--    </sql>-->
</mapper>