<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="vue-element-admin的vue3版本" />
  <meta name="keywords" content="vue-element-admin,vue3-element-admin" />
  <title>vue3-element-admin</title>
  <script type="module" crossorigin th:src="@{'/assets/'+${js_version}+'.js'}"></script>
  <link rel="stylesheet" th:href="@{'/assets/'+${css_version}+'.css'}">
</head>

<body>
  <div id="app"></div>

</body>

</html>